include LICENSE
include README.md
recursive-include juntagrico_custom_sub/static *
recursive-include juntagrico_custom_sub/templates *
include requirements.txt
global-exclude *.pyc
exclude manage.py
exclude testsettings*.py
exclude testurls*.py
recursive-exclude test *
