{% load juntagrico.config %}
{% load cs_config %}
{% load l10n %}
<p>
    Dein {{ future_subscription_size }} {% cs_vocabulary "base_unit" %} {% vocabulary "subscription" %} enthält folgende
    Produkte:
</p>
<p id="remainingUnits">placeholder text</p>
<form method="post" action=""> {% csrf_token %}
    {% for product in products %}
        <div class="form-group row" {% if product.amount_in_subscription == 0 and not product.user_editable %}
             style="display: none" {% endif %}>
            <div class="col-md-6">
                <div>{{ product.display_units }} {{ product.unit_name }} {{ product.name|striptags }}</div>
                <small>entspricht {{ product.units }} {% cs_vocabulary "base_unit" %}</small>
            </div>
            <div class="col-md-6">
                <div class="input-group">
                    <div class="input-group-prepend pflichtprod">

                        <button class="btn btn-decrement btn-outline-secondary" id="removeProduct{{ product.id }}"
                                type=button {% if not product.user_editable %} disabled {% endif %}>-
                        </button>
                        {% if not product.user_editable %}
                            <span class="alert alert-warning">Pflichtprodukt - Ändern nicht möglich</span>
                        {% endif %}
                    </div>
                    <input type="number" value="{{ product.amount_in_subscription }}" min=0
                           name="amount{{ product.id }}" id="valueProduct{{ product.id }}" style="text-align: center;"
                           readonly></input>
                    <div class="input-group-append pflichtprod">
                        {% if not product.user_editable %}
                            <span class="alert alert-warning">Pflichtprodukt - Ändern nicht möglich</span>
                        {% endif %}
                        <button class="btn btn-increment btn-outline-secondary" id="addProduct{{ product.id }}"
                                type=button
                                {% if not product.user_editable %} disabled {% endif %}>+
                        </button>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
    <button id="formSubmit" class="btn btn-success" type="submit" name="saveContent">Aboinhalt speichern</button>
</form>
{% localize off %}
    <script type='text/javascript'>
        window.onload = function () {
            calculateRemainingUnits();
            {% for product in products %}
                $('#addProduct{{ product.id }}').click(function () {
                    var oldVal = +$('#valueProduct{{ product.id }}').val();
                    if (getTotalUsedUnits() + {{ product.units }} <= {{ future_subscription_size }}) {
                        $('#valueProduct{{ product.id }}').val(oldVal + 1);
                    }
                    calculateRemainingUnits();
                });
                $('#removeProduct{{ product.id }}').click(function () {
                    var oldVal = +$('#valueProduct{{ product.id }}').val();
                    if (oldVal > 0 && oldVal > {{ product.min_amount }}) {
                        $('#valueProduct{{ product.id }}').val(oldVal - 1);
                        calculateRemainingUnits();
                    }
                    ;
                });
            {% endfor %}
        };

        function calculateRemainingUnits() {
            var remaining = {{ future_subscription_size }} -getTotalUsedUnits();
            $("#formSubmit").attr("disabled", remaining != 0);
            if (remaining == 0) {
                $('#remainingUnits').text("Dein {% vocabulary 'subscription' %} ist vollständig");
                $('#remainingUnits').removeClass("text-danger").addClass("text-success");
            } else if (remaining > 0) {
                $('#remainingUnits').text("Noch " + remaining + " {% cs_vocabulary 'base_unit' %} zu verteilen");
                $('#remainingUnits').removeClass("text-success").addClass("text-danger");
            } else {
                $('#remainingUnits').text("Dein Abo wurde kleiner. Bitte " + (-remaining) + " {% cs_vocabulary 'base_unit' %} entfernen.");
                $('#remainingUnits').removeClass("text-success").addClass("text-danger");
            }
        };

        function getTotalUsedUnits() {
            var totalUsed = 0;
            {% for product in products %}
                totalUsed += +$('#valueProduct{{ product.id }}').val() * {{ product.units }};
            {% endfor %}
            return totalUsed;
        };
    </script>
{% endlocalize %}