{% extends "juntagrico/manage/base.html" %}
{% load i18n %}
{% load juntagrico.config %}
{% load juntagrico.subscription %}

{% block page_title %}
    <h3>
        {% trans "Inhalt Änderungsliste" %}
    </h3>
{% endblock %}

{% block content %}
    {% include 'juntagrico/manage/member/snippets/toggle_buttons.html' %}
    {{ block.super }}
{% endblock %}

{% block list %}
    <table id="filter-table" class="list table" style="display: table;">
        <thead>
        <tr>
            <th class="filter">
                {% vocabulary "subscription" %}
            </th>
            <th class="filter">
                {% trans "Kontakt" %}
            </th>
            <th class="filter">
                {% trans "Aktueller Inhalt" %}
            </th>
            <th class="filter">
                {% trans "Zukünftiger Inhalt" %}
            </th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for subscription in management_list %}
            <tr>
                <td>
                    <a href="/admin/juntagrico/subscription/{{ subscription.id }}/change/">
                        {{ subscription }}
                    </a>
                </td>
                <td>
                    {% include 'juntagrico/manage/member/snippets/display_linked.html' with member=subscription.primary_member %}
                </td>
                <td>
                    {{ subscription.custom.display_content|join:"<br/>" }}
                </td>
                <td>
                    {{ subscription.custom.display_future_content|join:"<br/>" }}
                </td>
                <td>
                    <a href="/cs/content/change/{{ subscription.id }}/" class="btn btn-success">
                        {% trans "ändern" %}
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
